@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 650px;
    border-radius: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 40px;
}

.omelette {
    width: 100%;
    border-radius: 10px;
}

.container-prep {
    background-color: hsl(330, 100%, 98%);
    padding: 15px 20px;
    margin: 25px 0;
    border-radius: 10px;
}

h1 {
    font-family: 'Young Serif', serif;
    color: hsl(24, 5%, 18%);
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}

h3 {
    font-family: 'Outfit', sans-serif;
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

p {
    font-family: 'Outfit', sans-serif;
    color: hsl(30, 10%, 34%);
}

table {
    font-family: 'Outfit', sans-serif;
}

ul {
    color: hsl(30, 10%, 34%);
    font-family: 'Outfit', sans-serif;
    padding-left: 25px;
}

li {
    padding-left: 20px;
    margin: 10px 0px;
}

ol li::marker {
    font-weight: 700;
    color: hsl(14, 45%, 36%); 
}

ol {
    color: hsl(30, 10%, 34%);
    font-family: 'Outfit', sans-serif;
    padding-left: 25px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid hsl(30, 18%, 87%);
}

.nutrition {
    margin: 20px 0;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

td {
    padding: 10px 20px;
    color: hsl(30, 10%, 34%);
    width: 50%;
}

th {
    text-align: start;
    padding: 0px;
    color: hsl(14, 45%, 36%);
    width: 50%;
}

.row1 {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.row2 {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.row3 {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}